*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}

/* MAIN-WRAPPER */

.wrapper{
  width: 80%;
  margin: auto;
}


/* HEADER */

.navbar{
  height: 100px;
  margin-bottom: 50px;
}

.logo{
  display: inline-block;
  padding-right: 10px;
  height: 70%;
  border-right: 1px solid rgb(144, 144, 144);
  margin-bottom: 30px;
}

.img{
  height: 100%;
}

/* MENU */


nav ul li{
  display: inline-block;
}

nav ul li a{
  color:rgb(144, 144, 144) ;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10px;
}

nav ul li a:hover{
  color:brown;
}
/*/ MENU */


/* JUMBOTRON*/
.jumbotron{
  color: white;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  height: 500px;
  margin-top: 20px;
}

.jumbotron .text{
  padding-top: 25%;
  padding-left: 40px;
}
.text h3{
  width: 50%;
  font-size: 1.5rem;
}

.text p{
  width: 50%;
}
/* /JUMBOTRON */


/* MAIN */

/* Background */

.container{
  margin-top: 20px;
  margin-bottom: 40px;
}

.title{
  margin-bottom: 30px;
}
.title strong{
  color: black;
  font-size: 35px;
}

.title p{
  color: rgb(144, 144, 144);
}

/* COLUMNS */

.col{
  float: left;
  width: 16%;
}

.coltext h3{
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.coltext p{

  color: rgb(144, 144, 144);
}
/* COL SX */
.img-sx{
  background-image: url(/img/img-1.jpg);
  height: 164px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: 1%;
  overflow: hidden;
}

/* /COL SX */


/*  CENTER COLUMN */
.center{
  padding-left: 20px;
  float: left;
  height: 83%;
  width: 66%;
}

.img-center{
  background-image: url(/img/banner-2.jpg);
  height: 164px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: 1%;
  overflow: hidden;
}
/* / CENTER COLUMN */

/* COLUMN DX */
.dx{
  margin-left: 1%;
}

.img-dx{
  background-image: url(/img/img-3.jpg);
  height: 164px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: 1%;
  overflow: hidden;
}

/* /COLUMN DX */
/* FOOTER */

footer{
margin-top: 5px;
margin-bottom: 20px;
height: 60px;
}

.footer{
  line-height: 60px;
  vertical-align: center;
  text-align: center;
}
#heart{
  font-size: 1.5rem;
  color:rgb(255, 0, 0) ;
}
